<mat-toolbar class="custom-toolbar">
  <header class="navbar">

    <div class="logo-container">
      <img src="/assets/Logo.png" alt="Logo de la Inmobiliaria" class="logo">
    </div>

    <nav class="nav-links">
      <a routerLink="/home">Inicio</a>
      <span class="divider">|</span>
      <a routerLink="/browse">Catálogo</a>
      <span class="divider">|</span>
      <a routerLink="/rent">Quiero Vender</a>
      <span class="divider">|</span>
      <a routerLink="/about">Quienes somos</a>
    </nav>

    <a
      class="whatsapp-link"
      href="https://wa.me/51923529731"
      target="_blank"
      rel="noopener"
      aria-label="WhatsApp"
    >
      <img src="/assets/WspLogo.png" alt="WhatsApp" class="whatsapp-icon" />
    </a>
  </header>
</mat-toolbar>
