<mat-toolbar class="custom-toolbar">
  <header class="navbar">

    <div class="logo-container">
      <div class="logo-placeholder" aria-label="Logo">Logo</div>
    </div>

    <nav class="nav-links">

      <a routerLink="/home">Home</a>

      <span class="divider">|</span>

      <a routerLink="/buy">Comprar</a>

      <span class="divider">|</span>

      <a routerLink="/rent">Alquilar</a>

      <span class="divider">|</span>

      <a routerLink="/about">Quienes somos</a>

    </nav>

  </header>
</mat-toolbar>
